body {
    font-family: 'Inconsolata', monospace;
    margin: 20px;
    float: left;
}

/*.Holder {
    width: 600px;
    height: 400px;
    margin: 10px auto;
    background-color: #fff;
    border: 1px solid rgb(102, 248, 248);
}*/

/*.Element {
    margin: 10px auto;
    width: 500px;
    height: auto;
}*/

.button {
    width: 200px;
    height: 50px;
    border: 0px solid;
    background-color: rgb(11, 89, 134, 1.00);
    color: #fff;
    font-size: 22px;
}

.button:hover {
    background-color: rgb(41, 156, 156);
    color: #fff;
}

.bottom {
    font-size: 12px;
    color: rgb(11, 89, 134, 1.00);
    }


